#resume {
  width: 90%;
  margin: 1em auto; }
  #resume h1 {
    text-align: center;
    margin: 0; }
  #resume .subtitle {
    text-align: center;
    margin: 0; }
  #resume span {
    float: right; }
  #resume p {
    margin-left: 2em; }

@media print {
  header {
    display: none !important; }

  footer {
    display: none !important; }

  body {
    padding: 2em 0; } }
