#bio {
  margin-bottom: 3em; }
  #bio .subCategory {
    padding-left: 1em; }
  #bio .subParagraph {
    padding-left: 2em; }
  #bio .subList {
    margin-left: 1em;
    list-style-type: upper-roman; }
  #bio p {
    margin: 0 1.3em; }

#portfolio {
  padding-bottom: 1em; }
  #portfolio hr {
    height: 2px;
    width: 80%;
    background-color: #0053de;
    border: none; }
  #portfolio h2:first-child {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0; }
  #portfolio h2 {
    margin: .25em 0; }
  #portfolio li {
    list-style-type: none; }
  #portfolio .item {
    text-align: center; }
  #portfolio img {
    border-radius: .35em;
    border: 2px solid #0053de; }
  #portfolio img:hover {
    box-shadow: 0 0 5px #558EFF; }

@media screen and (max-width: 650px) {
  #bio p {
    margin-left: 0;
    text-align: justify; } }

@media screen and (max-width: 760px) {
  #bio {
    padding-left: 1em; }
  #portfolio {
    padding-left: 1em; }
    #portfolio .item {
      width: 100%; }
      #portfolio .item img {
        width: 60%;
        margin: 0 auto; } }

@media screen and (min-width: 760px) {
  #portfolio h1 {
    text-decoration: underline; }
  #portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #portfolio .item img {
    height: 10em;
    margin: 0 .5em; } }

@media print {
  #portfolio .item img {
    height: 20em;
    margin: 0 .5em; } }
