@import "normalize";
@import "font";
// --------- Variables --------- //
$background: lighten(lightgrey, 10%);
$highlight: #A6C93C;
$blue: #0058e6;
$lightblue: #558EFF;
// --------- Global --------- //
*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	font-family: 'IBM Plex Sans', sans-serif;
}
a{
	text-decoration: none;
	color: $blue;
}
a:hover{ 
	color: darken($blue, 20%);
	text-decoration: underline;
}
// --------- Nav --------- //
header{
	display: flex !important;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	#title{
		text-transform: uppercase;
		margin-right: auto;
		font-size: 1.5em;
	}

	#nav{
		text-transform: uppercase;
		.nav-link{
			margin: 0 1em;
			font-size: 1.2em;
			&:hover{
				text-decoration: none;
				border-bottom: 2px solid;
			}
		}
		&:nth-child(2){
			margin-right: 2em;
		}
		#close{
			display: none;
		}
	}
}
// --------- Sidebar --------- //
#sidebar{
	h1,h2,h3,h4,h5,h6{
		width: 100%;
		text-align: center;
		margin: 0;
	}
	a, .modeToggle{
		text-transform: uppercase;
		font-size: .9em;
	}
}
// --------- Mobile:Small --------- //
@media screen and (max-width: 650px){
	header{
		flex-wrap: wrap;
		margin-bottom: 1em;
	}
	#title{
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}
// --------- Mobile --------- //
@media screen and (max-width: 760px){
	header{
		#title{
			margin-left: 1em;
		}
	}
	#sidebar{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img{
			margin: 0 5%;
			width: 90%;
			max-height: 30em;
			object-fit: contain;
			-o-object-fit: contain;
			object-position: top;
			-o-object-position: top;
			height: auto;
		}

		h1,h2,h3,h4,h5,h6{
			display: none;
		}

		a, .modeToggle{
			margin: 1em .7em;
		}
	}
}
// --------- Tablet / Desktop--------- //
@media screen and (min-width: 760px){
	.wrapper{
		display: flex;
		flex-wrap: nowrap;
	}
	header{
		flex-wrap: nowrap;
		border-bottom: 1px solid black;
		#title{
			margin-left: 1em;
		}
	}
	#sidebar{
		position: fixed;
		left: 0;
		max-width: 10%;
		min-width: 110px !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		border-right: 1px solid black;
		padding: 1em;

		img{
			width: 100%;
			border-radius: .35em;
		}
		h2{
			margin-top: .5em;
		}
		h3{
			margin: .3em 0;
		}
		a{
			margin: .25em 0;
		}
		.modeToggle{
			margin-top: auto;
			margin-bottom: 4em;
			font-size: .8em;
			font-style: italic;
			text-decoration: underline;
		}
	}
	#content{
		position: fixed;
		right: 0;
		width: 90%;
		height: 100%;
		overflow-y: scroll;
		padding-left: 1em;
	}
}
// ---- Print ---- //
@media print {
	header {
		display: none !important;
	}

	footer {
		display: none !important;
	}

	body {
		padding: 2em 0;
	}

	#sidebar{
		display: none;
	}
}
