@import "normalize";
@import "icon";
// --------- Variables --------- //
$background: lighten(lightgrey, 10%);
$highlight: #A6C93C;
$blue: #0058e6;
$lightblue: #558EFF;
// --------- Global --------- //
*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: $blue;
}
a:hover{ 
	color: darken($blue, 20%);
	text-decoration: underline;
}

.toggled{
	animation: reduceHeight 800ms linear;
	animation-fill-mode: forwards;
	transition: visibility 1s, opacity 1s;
	visibility: hidden;
	opacity: 0;

}

@keyframes reduceHeight{
	from {max-height: 70em;}
	to {max-height: 0;}
}

.menu-button{
	display: inline-block;
	cursor: pointer;
	margin-bottom: -3px;
}

.bar1, .bar2 {
	 width: 15px;
	 height: 3px;
	 background-color: $blue;
	 margin: 3px 0;
	 transition: 800ms;
}
.bar1{
	transform: translate(0, 1px);
}
.bar2 {
	transform: rotate(90deg) translate(-5px, 0);
}

.change .bar2{
	opacity: 0;
}

// --------- Nav --------- //
header{
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	#title{
		text-transform: uppercase;
		margin-right: auto;
		font-size: 1.5em;
	}

	#nav{
		text-transform: uppercase;

		.nav-link{
			margin: 0 1em;
		}

		#close{
			display: none;
		}
	}
}
// --------- Sidebar --------- //
#sidebar{
	h1,h2,h3,h4,h5,h6{
		width: 100%;
		text-align: center;
		margin: 0;
	}
	a{
		text-transform: uppercase;
		font-size: .9em;
	}
}
// --------- Footer --------- //
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	width: 100%;
	background-color: $background;

	.copy{
		margin: .5em;
	}

	.footer-link{
		font-size: .8em;
	}
}
// --------- Mobile:Small --------- //
@media screen and (max-width: 650px){
	header{
		flex-wrap: wrap;
		margin-bottom: 1em;
	}
	#title{
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}
// --------- Mobile --------- //
@media screen and (max-width: 760px){
	header{
		#title{
			margin-left: 1em;
		}
	}
	#sidebar{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img{
			margin: 0 5%;
			width: 90%;
			max-height: 30em;
			object-fit: contain;
			-o-object-fit: contain;
			object-position: top;
			-o-object-position: top;
			height: auto;
		}

		h1,h2,h3,h4,h5,h6{
			display: none;
		}

		a{
			margin: 1em .7em;
		}

		.social{
			display: none;
		}
	}
	footer{
		.copy{
			margin: .5em 0;
		}
		.social{
			margin: 0;
			margin-bottom: .5em;
			h3{
				display: none;
			}	
			button{
				line-height: .5em;
				padding: .4em;
				border-radius: .3em;
				border: 1px solid black;
				background-color: $background;
				margin: 0;
			}
			.socicon-facebook{
				color: #314789;
			}
			.socicon-twitter{
				color: #1D8DEE;
			}
			.socicon-googleplus{
				color: #AD2A21;
			}
		}
	}
}
// --------- Tablet --------- //
@media screen and (min-width: 760px){
	.wrapper{
		display: flex;
		flex-wrap: nowrap;
	}
	header{
		flex-wrap: nowrap;
		border-bottom: 1px solid black;
		#title{
			margin-left: 1em;
		}
	}
	#sidebar{
		width: 20em;
		min-width: 175px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid black;
		padding: 1em;

		img{
			width: 100%;
			border-radius: .35em;
		}

		h2{
			margin-top: .5em;
		}

		h3{
			margin: .3em 0;
		}

		a{
			margin: .25em 0;
		}

		.social{

			button{
				line-height: .5em;
				padding: .4em;
				border-radius: .3em;
				border: 1px solid black;
				background-color: white;
				margin: 0;
			}

			.socicon-facebook{
				color: #314789;
			}
			.socicon-twitter{
				color: #1D8DEE;
			}
			.socicon-googleplus{
				color: #AD2A21;
			}
		}

	}
	#content{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding-left: 1em;
	}
	footer{
		.social{
			display: none;
		}
	}
}
// ---- Print ---- //
@media print {
	header {
		display: none !important;
	}

	footer {
		display: none !important;
	}

	body {
		padding: 2em 0;
	}

	#sidebar{
		display: none;
	}
}
