#resume{
	width: 90%;
	margin: 1em auto;
	h1{
		text-align: center;
		margin: 0;
	}

	.subtitle{
		text-align: center;
		margin: 0;
	}
	span{
		float:right;
	}

	p{
		margin-left: 2em;
	}
}

// ---- Print ---- //
@media print {
	header {
		display: none !important;
	}
	footer {
		display: none !important;
	}
	body {
		padding: 2em 0;
	}
}