#resume{
	width: 90%;
	margin: 1em auto;
	h1{
		text-align: center;
		margin: 0;
	}
	.bold{
		display: inline;
		font-weight: 700;
		margin-left: 2em;
	}

	.subtitle{
		text-align: center;
		margin: 0;
	}
	span{
		float:right;
	}

	p{
		margin-left: 2em;
	}
}