// --------- Variables --------- //
$blue: darken(#126BFF, 10%);
$lightblue: #558EFF;
$background: lighten(lightgrey, 10%);
// --------- Bio --------- //
#bio{
	margin-bottom: 3em;
	.subCategory{
		padding-left: 1em;
	}
	.subParagraph{
		padding-left: 2em;
	}
	.subList{
		margin-left: 3em;
		list-style-type: upper-roman;
	}
	p{
		margin: 0 1.3em;
	}
}
// --------- Portfolio --------- //
#portfolio{
	padding-bottom: 1em;
	hr{
		height: 2px;
		width: 80%;
		background-color: $blue;
		border: none;
	}
	h2:first-child{
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		margin:0;
	}
	h2{
		margin: .25em 0;
	}

	li{
		list-style-type: none;
	}

	.item{
		text-align: center;
	}

	img{
		border-radius: .35em;
		border: 2px solid $blue;
	}

	img:hover{
		box-shadow: 0 0 5px $lightblue;
	}
}
// --------- Mobile:Small --------- //
@media screen and (max-width: 650px){
	#bio {
		p{
			margin-left: 0;
			text-align: justify;
		}
	}
}
// --------- Mobile --------- //
@media screen and (max-width: 760px){
	#bio{
		padding-left: 1em;
	}
	#portfolio{
		padding-left: 1em;

		.item{
			width: 100%;

			img{
				width: 60%;
				margin: 0 auto;
			}
		}
	}
}
// --------- Tablet --------- //
@media screen and (min-width: 760px){
	#portfolio{
		
		h1{
			text-decoration: underline;
		}

		ul{
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		
		.item{
			img{
				height: 10em;
				margin: 0 .5em;
			}
		}
	}
}
// ---------- Print ------- //
@media print {
	#portfolio .item{
			img{
				height: 20em;
				margin: 0 .5em;
			}
		}
}
