// --------- Variables --------- //
$blue: #126BFF;
$lightblue: #558EFF;

// --------- Global --------- //
	#content{
		hr{
			height: 1px;
			width: 80%;
			background-color: $blue;
			border: none;
		}
	}

// --------- Sidebar --------- //
#sidebar{
	h1,h2,h3,h4,h5,h6{
		width: 100%;
		text-align: center;
		margin: 0;
	}

	a{
		text-transform: uppercase;
	}
}
// --------- Bio --------- //
#bio{
	margin-bottom: 2em;
	
	p{
		margin: 0 1.3em;
	}
}

// --------- Portfolio --------- //
#portfolio{
	padding-bottom: 1em;

	h1{
		text-align: center;
		text-transform: uppercase;
		margin:0;
	}
	h2{
		margin: .25em 0;
	}

	li{
		list-style-type: none;
	}

	.item{
		text-align: center;
	}

	img{
		border-radius: .35em;
		border: 2px solid $blue;
	}
}
// --------- Mobile:Small --------- //
@media screen and (max-width: 650px){
	#bio {
		p{
			margin-left: 0;
			text-align: justify;
		}
	}
}

// --------- Mobile --------- //
@media screen and (max-width: 760px){

	#sidebar{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img{
			width: 100%;
		}

		h1,h2,h3,h4,h5,h6{
			display: none;
		}

		a{
			margin: 1em .7em;
		}
	}
	#bio{
		padding-left: 1em;
	}

	#portfolio{
		padding-left: 1em;

		.item{
			width: 100%;

			img{
				width: 60%;
				margin: 0 auto;
			}
		}
	}

}

// --------- Tablet --------- //
@media screen and (min-width: 760px){

	.wrapper{
		display: flex;
		flex-wrap: nowrap;
	}



	#sidebar{
		width: 100em;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid black;
		padding-top: 1em;

		img{
			width: 10em;
			border-radius: .35em;
		}

		h1,h2,h3,h4,h5,h6{
			margin: .5em 0;
		}
		a{
			margin: .25em 0;
		}

	}

	#content{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding-left: 1em;
	}

	#portfolio{
		
		.rails,.php,.python,.java{
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.item{
			img{
				height: 15em;
				margin: 0 .5em;
			}
		}
	}
	
}
