// --------- Variables --------- //
$blue: darken(#126BFF, 10%);
$lightblue: #558EFF;
$background: lighten(lightgrey, 10%);

#bio-paragraph, #experience, #community, #examples{
	height: 0;
	overflow: hidden;
	&.active{
		height: auto;
	}
}
.menu-button{
	display: inline-block;
	cursor: pointer;
	margin-bottom: -3px;
	.bar1, .bar2 {
		width: 15px;
		height: 3px;
		background-color: $blue;
		margin: 3px 0;
		transition: 800ms;
	}
	.bar1{
		transform: translate(0, 1px);
	}
	.bar2 {
		transform: rotate(90deg) translate(-5px, 0);
	}
	&.change .bar2{
		opacity: 0;
	}
}
// --------- Bio --------- //
#bio{
	h2{
		display: inline-block;
		margin-right: .5em;
		margin-top: 1em;
	}
	ul {
		margin: 0 auto;
	}
	.subCategory{
		padding-left: 1em;
	}
	.subParagraph{
		padding-left: 2em;
	}
	.subList{
		margin-left: 1em;
		list-style-type: upper-roman;
	}
	p{
		margin: 0 1.3em;
	}
	#experience .row{
		width: 100%;
		padding: 0 2%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		h4{
			text-align: center;
		}
	}
}
// --------- Portfolio --------- //
#portfolio{
	margin: 0;
	h2{
		display: inline-block;
		margin-right: .5em;
		margin-top: 1em;
	}
	#examples {
		&.active {
			padding-bottom: 18em;
		}
		h4, ul{
			margin-left: 1.35em;
		}
		li{
			list-style-type: decimal;
		}
		img{
			display:none;
		}
		a:hover~img{
			margin-top: .5em;
			display: block;
			border-radius: 1em;
		}
	}
}
// --------- Mobile:Small --------- //
@media screen and (max-width: 650px){
	#bio {
		p{
			margin-left: 0;
			text-align: justify;
		}
	}
}
// --------- Mobile --------- //
@media screen and (max-width: 760px){
	#bio{
		padding-left: 1em;
		#experience .row{
			flex-direction: column;
	}
	}
	#portfolio{
		padding-left: 1em;

		.item{
			width: 100%;
		}
		a:hover~img{
			width: 100%;
			height: auto;
		}
	}
}
// --------- Tablet --------- //
@media screen and (min-width: 760px){
	#portfolio{
			a:hover~img{
			position: fixed;
			top: 20%;
			left: 45%;
			width: 40%;
		}
	}
}
// ---------- Print ------- //
@media print {
	#portfolio .item{
		img{
			height: 20em;
			margin: 0 .5em;
		}
	}
}
